$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%); // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$glossary-text: #444;
$section-text: #ff4500;
$midnight: #191970;
$panel-back: #e3e3e3;

@import 'buttons';
@import 'elements';

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content
    }
  }
}

.book .markdown-section {
  .glossary-term {
    //border-bottom: 1px lighten($glossary-text, 50) dotted;
    color: inherit; //$glossary-text;
    cursor: help;
    border-bottom: 1px dotted;
    border-color: lighten($glossary-text, 25);
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 0;
      text-decoration: none;
    }
  }

  .required {
    color: $brand-danger;
  }

  .hints-icon .fa {
    font-size: 1.5em;
    vertical-align: middle;
  }

  figure {
    margin: 1.5em 0;
    padding: 10px 0;
    text-align: center;

    &.screenshot {
      padding-left: 10px;
      padding-right: 10px;
    }

    img.border {
      border: 1px solid $brand-info;
    }
  }

  figcaption {
    clear: left;
    color: $gray;
    font-size: 80%;
    font-style: italic;
    line-height: 1.5em;
    margin: 0.75em 0;
    text-align: center;
  }

  .list-tasks > ol > li {
    font-size: 1.5em;

    & > * {
      font-size: 1.6rem;
    }

    & > {
      @include headings(1,6) {
        font-size: inherit;
      }
    }
  }
}

.book .footer-section {
  .footer-author {
    font-size: 1em !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
  }
  .footer-normal {
    font-size: .7em;
    color: #888;
    .glossary-term {
      border: 0px;
      cursor: default !important;
    }
  }
  .footer-right {
    text-align: right;
  }
}
